Package:          term-utils
Version:          1.3-1
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    term-utils
AddonIndexPage:   
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Some cool utils for OS.
