Package:          net-snmp
Section:          network
Version:          5.7.3-2
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    net-snmp
AddonIndexPage:   NULL
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Simple Network Management Protocol
Category:         network
Screenshot:       net-snmp-s.png
Website: 	  http://www.net-snmp.org
Platform:         http://storage.dlink.com.tw/addon/
DescriptionOnline: Simple Network Management Protocol (SNMP) is a widely used protocol for monitoring the health and welfare of network equipment (eg. routers), computer equipment and even devices like UPSs. Net-SNMP is a suite of applications used to implement SNMP v1, SNMP v2c and SNMP v3 using both IPv4 and IPv6.
