Package:          net-snmp
Version:          5.7.3-0
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    net-snmp
AddonIndexPage:   
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Simple Network Management Protocol
