Package:          uvc-support
Version:          1.0-0
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    uvc-support
AddonIndexPage:   
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Support for uvc-web-cameras.
