Package:          uvc-support
Section:          video
Version:          1.0-2
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    uvc-support
AddonIndexPage:   NULL
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Support for uvc-web-cameras.
Category:         video
Screenshot:       
Website:
Platform:         http://storage.dlink.com.tw/addon/
DescriptionOnline: Support for uvc-web-cameras.
