Package:          NFS-Client
Version:          1.0-0
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    NFS-Client
AddonIndexPage:   index.html
AddonUsedPort:    80
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Client for mount nfs-shares.
