Package:          Mosquitto
Section:          network
Version:          1.4.15-1
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         https://mosquitto.org
AddonShowName:    Mosquitto
AddonIndexPage:   index.html
AddonUsedPort:    80 
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Message broker that implements the MQTT protocol versions 3.1 and 3.1.1.
Category:         network
Screenshot:       Mosquitto-s.png
Website:
Platform:         http://storage.dlink.com.tw/addon/
DescriptionOnline: The MQTT protocol provides a lightweight method of carrying out messaging using a publish/subscribe model.
