Package:          Polipo
Version:          1.1.1-2
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    Polipo
AddonIndexPage:   index.html
AddonUsedPort:    80
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Lightweight forwarding and caching web proxy server.
