Package:          gphoto2
Version:          2.5.6-1
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    gphoto2
AddonIndexPage:   
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      gPhoto2 is a free, redistributable, ready to use set of digital camera software applications for Unix-like systems, written by a whole team of dedicated volunteers around the world. It supports more than 1800 cameras.
