Package:          net-utils
Section:	  network
Version:          1.4-0
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    net-utils
AddonIndexPage:   NULL
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Some cool utils for net.
Category:         network
Screenshot:       net-utils-s.png
Website:
Platform:         http://storage.dlink.com.tw/addon/
DescriptionOnline: Some cool utils for net.
