Package:          MPD
Version:          0.19.8-1
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    MPD
AddonIndexPage:   
AddonUsedPort:     
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Server-side application for playing music.
