Package:          MPD
Version:          0.19.8-2
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    MPD
AddonIndexPage:   index.html
AddonUsedPort:    80
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Server-side application for playing music.
