Package:	Twonky
Section:	Addon
Version:	8.0.2-1
Packager:	rusatch
Email:		rusatch@mail.ru
Homepage:	
Description:	TwonkyMedia server
AddonShowName:	Twonky
AddonIndexPage:	index.html
AddonUsedPort:	9000
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Category:         network
Screenshot:       Twonky-s.png
Website:	  http://twonky.com
Platform:         http://storage.dlink.com.tw/addon/
DescriptionOnline: TwonkyMedia server (TMS) is DLNA-compliant UPnP AV server software from PacketVideo.
