Package:          CamRec
Version:          1.2-0
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    CamRec
AddonIndexPage:   index.html
AddonUsedPort:    80
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Record stream from mjpg-camera.
