Package:          CamRec
Section:          video
Version:          2.3-0
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    CamRec
AddonIndexPage:   index.html
AddonUsedPort:    80
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Record stream from mjpg-camera.
Category:         video
Screenshot:       CamRec-s.png
Website:          
Platform:         http://storage.dlink.com.tw/addon/
DescriptionOnline: Video-recording from ip-cams.
