Package:          PulseAudio
Version:          6.0.0-5
Packager:         rusatch
Email:            rusatch@mail.ru
Homepage:         
AddonShowName:    PulseAudio
AddonIndexPage:   index.html
AddonUsedPort:    80
InstDepend:
InstConflict:             
StartDepend:       
StartConflict:
Description:      Sound server.
